.navbar {
    background-color: rgb(194, 233, 255); /* Light blue background */
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Space links evenly */
    font-family: 'Arial', sans-serif; /* Specify bold blocky font */
    color: rgb(0, 0, 0); /* Blue text color */
}

.nav-link {
    color: #FFFF99; /* Lighter yellow text color */
    text-decoration: none; /* Remove underline */
    margin-right: 1rem; /* Spacing between links */
}

.nav-link.active {
    font-weight: bold; /* Bold active link */
}